/* Global Settings */
html, body {
  margin: auto;
  font-size: 18px;
  font-family: Helvetica;
  color: white;
}

.siteContainer {
  width: 960px;
  margin: 0 auto;
}

/* TODO: Fix container sizing versus entire page */

/* Header */

header {
  background-color: black;
}

header .siteContainer {
  display: flex;
  align-items: center;
}

header img {
  height: 1.5rem;
  margin: 0.66rem 1rem 0.66rem 0.5rem;
}

#title {
  text-transform: uppercase;
}

/* Hero */

.hero-section {
  background-image: url("../images/moto.jpeg");
  height: 25rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}

.hero-text {
  display: inline-flex;
  flex-direction: column;
  postion: relative;
  width: 20rem;
  height: 10rem;
  margin-top: 9rem;
  background-color: black;
  padding-left: 3rem;
  text-transform: uppercase;
  font-weight: bold;
}

.hero-text #newArrival {
  padding-top: 2rem;
  padding-bottom: 0.25rem;
  font-size: 1rem;
}

.hero-text #invDesc {
  font-size: 2rem;
}

/* Nav Menu */

.navMenu {
  background-color: firebrick;
}

.siteSections {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.75rem 0;
}

/* Inventory */

.inventory {
  max-width: 960px;
}

.items {
  display: inline-flex;
  justify-content: space-between;
  margin: 3rem auto;
  width: 100%;
}

.item {
  width: 30%;
}

.item-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 9rem;
  border: 4px solid black;
  padding: 2rem 0;
  max-width: 100%;
}

.item-image img {
  max-width: 8rem;
}

.item-desc {
  background-color: black;
  text-align: center;
  padding: 0.5rem;
}

/* Store Info */

.storeInfo {
  max-width: 960px;
}

.infoDetails {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.detail {
  width: 35%
}

.detailTitle {
  background-color: black;
  padding: 1rem 2rem;
}

.detailInfo {
    color: black;
}

/* Footer */

footer {
  background-color: black;
  height: 5rem;
}

footer .siteContainer {
  display: flex;
  align-items: center;
  height: inherit;
}

/* TODO add media query sections */
